.browse-page {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 5em;
  height: 100vh; /* Use full viewport height */
  overflow-y: auto; /* Allow scrolling if content exceeds height */
}

.browse-page .browse-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.browse-page .browse-search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.browse-page .browse-filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.browse-page .browse-dropdown {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.browse-page .document-cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Fixed 4 columns */
  gap: 20px;
  padding-bottom: 10em;
}

.browse-page .browse-page .document-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-direction: column;
}

.browse-page .document-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.browse-page .document-preview {
  height: 150px;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin-bottom: 15px;
}

.browse-page .document-info {
  flex-grow: 1;
  text-align: left;
}

.browse-page .document-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.browse-page .document-field-branch {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.browse-page .document-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}

.browse-page .tag {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #555;
}

.browse-page .document-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.browse-page .open-editor, .view-document {
  color: #6a0dad;
  text-decoration: none;
  font-weight: bold;
}

.browse-page .open-editor:hover, .view-document:hover {
  text-decoration: underline;
}
